#bottom-links {
	text-align: center;
	margin-top: 0.5em;
	font-size: small;
}

#bottom-links a, a:visited, a:hover {
	color: black;
}

.hr-padding {
	padding-left: 1em;
	padding-right: 1em;
}

@media screen and (max-width:768px) {
  .extra-space {
    margin-bottom: 3px;
  }
}

.section-header {
  margin-top: 20px;
  margin-bottom: 0;
}

DIV.dataTables_filter input {
  width: 76%;
}